asgiref==3.8.1
click==8.1.8
colorama==0.4.6
crispy-bootstrap5==2024.10
cssbeautifier==1.15.4
Django==5.1.6
django-ckeditor==6.7.2
django-crispy-forms==2.3
django-js-asset==3.1.2
djlint==1.36.4
EditorConfig==0.17.0
jsbeautifier==1.15.4
json5==0.10.0
lorem==0.1.1
pathspec==0.12.1
pillow==11.1.0
PyYAML==6.0.2
regex==2024.11.6
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
tzdata==2025.1
