{% extends "blog/base.html" %} {% block content %}

<article class="d-flex content-section">
  <img src="{{post.author.profile.image.url}}" alt="profile pic" class="rounded-circle article-img me-3">
  <div class="media-body">
    <div class="article-metadata">
      <div class="article-tagline">
        <div>
          <a href="{% url "user-posts"  post.author.username %}">{{post.author.first_name}} {{post.author.last_name}}</a>
          <small class="text-muted">{{post.date_posted|date:"d F Y"}}</small> 
        </div> <div class="d-flex align-items-center gap-2"> 
          <form action="{% url "toggle-save-post" post.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-outline-secondary">
                  {% if user in post.saved_by.all %}
                      Unsave
                  {% else %}
                      Save
                  {% endif %}
              </button>
          </form>
          <a href="{% url "category-posts" post.category.slug %}" class="article-category">{{ post.category }}</a>
      </div>
      </div>
      {% if post.author == user %}
      <div>
        <a href="{% url "post-update" post.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
        <a href="{% url "post-delete" post.id %}" class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>
    </div>
      {% endif %}
    </div>
    <h2 class="article-title">{{post.title}}</a></h2>
    <p class="article-subtitle">{{post.subtitle}}</p>
    <p class="article-content">{{post.content|safe}}</p>
   
    <div class="d-flex align-items-center">
      <span class="me-3">Views: {{ post.views }}</span>
  
      <form action="{% url 'toggle-like' post.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-sm {% if user in post.likes.all %}btn-success{% else %}btn-outline-success{% endif %}">
            👍 Like{% if post.total_likes > 1 %}s{% endif %} ({{ post.total_likes }})
          </button>
        </form>
      </div>
  </div>
</article>
{% endblock content %}
