{% block navbar %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a href="{% url "blog-home" %}" class="navbar-brand mr-4">Woohoo News</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav me-auto">
            {% if user.is_authenticated %}
              <a href="{% url "user-posts" user %}" class="nav-item nav-link">My Posts</a>
            {% endif %}
          </div>

          {% comment %} Navbar Right-hand Side {% endcomment %}
          <div class="navbar-nav ms-auto"> 
            {% if user.is_authenticated %}
              <a href="{% url "post-create" %}" class="nav-item nav-link">New Post</a>
              <a href="{% url "profile" %}" class="nav-item nav-link">Profile</a>
              <form action="{% url "logout" %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="nav-item nav-link">Logout</button>
              </form>
            {% else %}
              <a href="{% url "login" %}" class="nav-item nav-link">Login</a>
              <a href="{% url "register" %}" class="nav-item nav-link">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>

  {% endblock navbar %}