<div class="content-section">
    <h3>Sidebar</h3>
    <p class="text-muted">Some information to go here...</p>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light">
        <a href="{% url "featured-posts" %}" class="sidebar-link">Featured Posts</a>
      </li>
      <li class="list-group-item list-group-item-light">
        <a href="{% url "latest-posts" %}" class="sidebar-link">Latest Posts</a>
      </li>
      <li class="list-group-item list-group-item-light">
        <a href="{% url "saved-posts" %}" class="sidebar-link">Saved Posts</a>
      </li>
      <li class="list-group-item list-group-item-light">
        <a href="{% url "staff" %}" class="sidebar-link">Meet Our Team</a>      
      </li>
      <li class="list-group-item list-group-item-light">
        <a href="{% url "blog-about" %}" class="sidebar-link">About Woohoo</a>
      </li>
    </ul>
  </div>
