<div class="content-section my-5">
    <h2>Follow Us</h2>
    <p>
      Stay up to date with our latest updates, exclusive content, and behind-the-scenes moments by following us on social media.
    </p>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light"><a href="#" target="_blank" class="btn btn-outline-dark mb-2">GitHub</a></li>
      <li class="list-group-item list-group-item-light"><a href="#" target="_blank" class="btn btn-outline-dark mb-2">YouTube</a></li>
      <li class="list-group-item list-group-item-light"><a href="#" target="_blank" class="btn btn-outline-dark mb-2">BlueSky</a></li>
      <li class="list-group-item list-group-item-light"><a href="#" target="_blank" class="btn btn-outline-dark mb-2">Instagram</a></li>
    </ul>
  </div>